@media screen and (max-width: 480px){
    .bgbanner{
        display: none;
    }
}

.radios{
    padding-right: 20%;
    margin: 6% 0 6% 0 !important;
}

.big-banner{
    width: 100%;
    height: 300px;
    background-color: #e7edf7;
}

.col-left{
    width: 50%;
    float: left;
    text-align: center;
}

.col-right{
    width: 50%;
    float: left;
    text-align: center;
}

.items{
    float: left;
    margin: 20px;
    width: 100%;
}

.border{
    border: 1px solid #e7edf7;
    width: 100%;
}

.toolbar{
    display: flex;
    width: 100%;
    height: 60px;
}

.content-form{
    width: '100%';
    margin: 20px;
}

.toolbar-alt{
    display: flex;
    float: right;
    margin-right: 140px;
}

.totalAmountField > input{
    font-size: 32px !important;
    font-weight: bold;
    color: black;
}